/* DatePickerCustomStyles.css */
.DatePicker {
    background-color: #f2f2f2;
    border-radius: 12px;
    border: 1px solid #ccc;
    width: 120px;
    color: black;
    font-size: 12px;
    margin: 0 2px;
    background-image: none;
  }
  .customDatePicker {
    width: 150px; /* Adjust the width as needed */
    font-size: 12px; /* Adjust the font size as required */
    /* Add any other styles you need */
  }